#page-mod-ogte-view .feedbackbox {
    width: 75%;
    border-collapse: separate;
}
#page-mod-ogte-view .entrycontent {
    padding: 3px;
}
#page-mod-ogte-view .picture {
    width: 35px;
}
#page-mod-ogte-view .info {
    margin-bottom: 5px;
    text-align: right;
}
#page-mod-ogte-view .ogtestart,
#page-mod-ogte-report .feedbacksave {
    text-align: center;
}
/* #page-mod-ogte-view .lastedit, */
/* #page-mod-ogte-view .editend { */
    /* font-size: 0.7em; */
    /* margin: 5px; */
    /* text-align: center; */
/* } */
#page-mod-ogte-view .author {
    font-size: 1em;
    font-weight: bold;
}
#page-mod-ogte-view .time {
    font-size: 0.7em;
    font-style: italic;
}
#page-mod-ogte-view .grade {
    font-weight: bold;
    font-style: italic;
    text-align: right;
}

#page-mod-ogte-index .cell {
    font-size: 0.8em;
}
#page-mod-ogte-view .feedbackbox .left,
#page-mod-ogte-view .feedbackbox .entryheader {
    background-color: #ddd;
}

#page-mod-ogte-view .feedbackbox {
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-spacing: 0;
    margin: 0 auto;
}
#page-mod-ogte-view .feedbackbox .side {
    -moz-border-radius-bottomleft: 15px;
}
#page-mod-ogte-view .feedbackbox .entrycontent {
    -moz-border-radius-bottomright: 15px;
}

#page-mod-ogte-report .ogteuserentry {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    border-spacing: 0;
}
#page-mod-ogte-report .ogteuserentry td {
    padding: 10px;
    vertical-align: top;
    width: 100%;
}
#page-mod-ogte-report .ogteuserentry td.userpix {
    width: 35px;
}
#page-mod-ogte-report .ogteuserentry td.userfullname {
    white-space: nowrap;
}
/* #page-mod-ogte-report .ogteuserentry td .lastedit { */
    /* font-size: 0.76em; */
    /* margin-left: 10px; */
/* } */
#page-mod-ogte-report .mediaplugin {
    width: auto;
}
#page-mod-ogte-view table, th, td {
    padding: 5px;
}
#page-mod-ogte-edit table, th, td {
    padding: 5px;
}
#page-mod-ogte-view td {
    vertical-align: top;
}

.mod-ogte-textarea {
    overflow: auto;
    resize: vertical;
    height: 300px;
    width: 100%;
    max-width: 800px;
}

.mod-ogte-stats table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.ogte-passageandstats th,.ogte-passageandstats  td,
.mod-ogte-stats th,.mod-ogte-stats td {
    border: 1px solid black;
    width: 20%; /* or width: 100px; */
    padding: 10px;
    text-align: left;
}

span.mod_ogte_outoflist {
    color: red;
}

span.mod_ogte_outoflevel {
    font-style: italic;
    position: relative;
    text-decoration: none;
}

span.mod_ogte_ignored {
    color: green;
}

span.mod_ogte_outoflevel:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust this value to change the distance between the lines */
    width: 100%;
    height: 2px; /* Adjust this value to change the thickness of the lines */
    background-color: red;
}

.mod_ogte_backtolists_cont {
    margin-bottom: 8px;
}

.mod_ogte_tab-content  {
    margin-top: 8px;
    max-width: 1200px;
}
.ogte-passage-editor{
    height: auto;
    min-height: 150px;
    padding: 10px;
}
.ogte-wide {
    width: 90%;
    max-width: 1200px;
    border: 1px black solid;
}
.ogte-status-message {
    font-style: italic;
}
.ogte_stats_td_hd {
    font-size: 11px;
}
.ogte_stats_td_sub {
    font-size: 11px;
    font-style: italic;
}
.mod_ogte_entryforminstructions {
    padding: 15px;
}
.ogte-leftright {
    display: flex;
    justify-content: space-between;
}
.ogte-passageandstats {
    flex: 1;
}
.ogte-blocks {
    width: 300px;
}
.ogte-block-uncovered {
   /* height: 279px; */
}
.ogte-block-title {
    background-color: #BAE7FA;
    padding: 4px 6px;
}
.ogte-outof_container {
    border: 1px solid #ddd;
    padding: 5px;
}

.ogte-outof_container table {
    border: 0 none;
    margin: 0;
    display: table;
    width: 94%;
}
.ogte-outof_container tbody tr:nth-child(2n+1) {
   background-color: #EEEEEE;
}
.ogte-outof_container  {
    margin-top: 5px;
    overflow-x: hidden;
    min-height: 100px;
    overflow-y: auto;
    max-height: 279px;
}

.ogte-gopanel {
    margin: 10px;
}
.ogte-panel-instructions {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 90%;
    max-width: 1200px;
}

.mod-ogte-passage-opts {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 90%;
    max-width: 1200px;
}

.btn.btn-secondary.ogte_clipboardbutton,
.btn.btn-secondary.ogte_downloadbutton {
    height: 32px;
    width: 40px;
    border-radius: 5px;
    padding-top: 32px;
    color: #1569E8;
    background-color: transparent;
    border-color: #3384FF;
    font-weight: 500;
}
.ogte_article_copy_button,
.ogte_article_download_button {
    width: 60px;
}
.ogte-ignore-opts,.ogte-spacer {
    flex: 1;
}


.ogte_article_action_button .btn {
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 50% 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-self: flex-start;
}
.ogte_article_download_button .btn {
    background-image: url([[pix:mod_ogte|ogte-download-icon]]);
}

.ogte_article_copy_button .btn {
    background-image: url([[pix:mod_ogte|ogte-copy-icon]]);
}

.ogte_article_copy_button .ogte_copied {
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
    bottom: -20px;
    left: -5px;
    color: #1c67d8;
    background-color: #f3f5ff;
    padding: 2px 6px;
    border-radius: 4px;
}