<div>
    <textarea  id="@@AUTOID@@_prompt" style="width: 80%; max-width: 800px;" placeholder="@@STRING:article-topic-here@@"></textarea>
    <div id="@@AUTOID@@_message" style="width: 80%; max-width: 800px; text-align: center"></div>
    <button id="@@AUTOID@@_button" type="button" style="width: 80%; max-width: 800px">@@STRING:generate-article@@</button>
    <div><textarea id="@@AUTOID@@_article" style="overflow: auto; resize: auto; height: 150px; width: 80%; max-width: 800px; display: none"></textarea><br></div>
    <div id="@@AUTOID@@_articlestats" style="display: none" class="article_stats"></div>
</div>