<div class="container text-center ogte-addnewmenu">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary ogte-square-btn">
                <div>I have text</div>
                <small class="text-muted">Subtext 1</small>
            </button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-secondary ogte-square-btn">
                <div>Create text with AI</div>
                <small class="text-muted">Subtext 2</small>
            </button>
        </div>
    </div>
</div>
<div class="container text-center ogte-fictionmenu" style="display: none">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary ogte-square-btn">
                <div>Fiction</div>
                <small class="text-muted">Subtext 1</small>
            </button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-secondary ogte-square-btn">
                <div>Non Fiction</div>
                <small class="text-muted">Subtext 2</small>
            </button>
        </div>
    </div>
    <a href="#">back</a>
</div>
<!-- @@CLOUDPOODLLTOKEN@@ -->
{{^element.frozen}}
{{#js}}
// <script>
    require(['jquery','core/templates','core/notification','mod_ogte/utils'], function($,templates,notification, utils) {

    });
{{/js}}
{{/element.frozen}}