<span class="ogte-panel-instructions">{{#str}}articlerewrite_instructions, mod_ogte{{/str}}</span><br/>
<div class="container">
    <div class="row">
        <div class="col-lg">
            <h4>{{#str}}original-article, mod_ogte{{/str}}</h4>
            <textarea id="{{uniqid}}_ar_originaltext" class="mod-ogte-textarea" placeholder="{{#str}}paste-text-here, mod_ogte{{/str}}">{{passage}}</textarea><br/>
            <div id="{{uniqid}}_ar_originalstats" class="mod-ogte-stats"></div>
            <fieldset>
                <legend>Rewritten Article Difficulty</legend>
                <input type="radio" id="one" name="difficulty" value="1">
                <label for="one">One (simplest)</label>
                <input type="radio" id="two" name="difficulty" value="2">
                <label for="two">Two</label>

                <input type="radio" id="three" name="difficulty" value="3" checked>
                <label for="three">Three</label>
                <input type="radio" id="four" name="difficulty" value="4">
                <label for="four">Four</label>
                <input type="radio" id="five" name="difficulty" value="5">
                <label for="five">Five</label>
            </fieldset>
            <button id="{{uniqid}}_ar_button" type="button" style="width: 100%; max-width: 800px">{{#str}}rewrite-article, mod_ogte{{/str}}</button>

        </div>
        <div class="col-lg">

            <div id="{{uniqid}}_ar_rewritten"  style="display: none">
                <h4>{{#str}}rewritten-article, mod_ogte{{/str}}</h4>
                <div id="{{uniqid}}_ar_spinner" style="text-align: center; width: 100%; display: none;"><i class="fa fa-spinner fa-spin fa-lg"></i></div>
                <textarea id="the_ar_result" class="mod-ogte-textarea" style="display: none;"></textarea>
                <div id="{{uniqid}}_ar_resultstats" class="mod-ogte-stats" style="display: none;"></div>
                <!-- actions -->
                <div id="ogte_rewriter_actions" class="mod-ogte-passage-opts" style="display: none">
                    <div class="ogte-spacer"></div>
                    <div class="ogte_article_action_button ogte_article_download_button">
                        <a class="btn btn-secondary ogte_downloadbutton" data-download-target="#the_ar_result"></a>
                    </div>
                    <div class="ogte_article_action_button ogte_article_copy_button">
                        <a class="btn btn-secondary ogte_clipboardbutton" data-clipboard-action="copy" data-clipboard-target="#the_ar_result"></a>
                        <span class="ogte_copied" style="display: none">{{#str}}copied, mod_ogte{{/str}}</span>
                    </div>
                </div>
                <div class=" ogte_ar_sendtoeditor_button text-center" data-send-target="#the_ar_result">
                    <a class="btn btn-secondary ogte_ar_sendtoeditor_button">{{#str}}send-to-editor, mod_ogte{{/str}}</a>
                </div>
            </div>

        </div>
    </div>
</div>

{{^element.frozen}}
    {{#js}}
        // <script>
            require(['jquery', 'core/templates','core/notification','mod_ogte/utils'], function($,templates,notification, utils) {

                var theresult= $('#the_ar_result');
                var originalstats= $('#{{uniqid}}_ar_originalstats');
                var resultstats= $('#{{uniqid}}_ar_resultstats');
                var rewritten= $('#{{uniqid}}_ar_rewritten');
                var actions= $('#ogte_rewriter_actions');
                var spinner= $('#{{uniqid}}_ar_spinner');
                var leveler_textbox=  $("#the_al_passage");
                var leveler_hiddentextbox=  $('#the_al_hiddenpassage');
                var leveler_gobutton=  $('#the_al_button');

                utils.setCloudPoodllToken('{{cloudpoodlltoken}}');

                $('#{{uniqid}}_ar_button').on('click',function(){
                    //show a spinner and the title in results col
                    rewritten.show();
                    theresult.hide();
                    spinner.show();
                    resultstats.hide();

                    var usetext = $('#{{uniqid}}_ar_originaltext').val();
                    var difficulty = $('input[name="difficulty"]:checked').val();

                    //no super long readings or empty ones
                    if(!usetext || usetext.trim()==='') {
                        theresult.val('{{#str}}entersomething, mod_ogte{{/str}}');
                        theresult.show();
                        spinner.hide();
                        return;
                    }
                    if(usetext.length > 5000){
                        theresult.val('{{#str}}texttoolong5000, mod_ogte{{/str}}');
                        theresult.show();
                        spinner.hide();
                        return;
                    }

                    //add stats to original
                    var textStatsData = utils.analyzeText(usetext);
                    templates.render('mod_ogte/textstatstable', textStatsData).done(function(html, js) {
                        originalstats.fadeOut("fast", function() {
                            templates.replaceNodeContents(originalstats, html, js);
                            originalstats.fadeIn("fast");
                        }.bind(this));

                    }.bind(this)).fail(notification.exception);

                    utils.call_ai(usetext,'en-US',difficulty,'rewrite_article',function(newarticle){
                        theresult.val(newarticle);
                        theresult.show();


                        //add stats to result
                        var textStatsData = utils.analyzeText(newarticle);
                        templates.render('mod_ogte/textstatstable', textStatsData).done(function(html, js) {
                            resultstats.fadeOut("fast", function() {
                                templates.replaceNodeContents(resultstats, html, js);
                                resultstats.fadeIn("fast");
                            }.bind(this));

                        }.bind(this)).fail(notification.exception);

                        //hide a spinner and show results
                        theresult.show();
                        actions.show();
                        spinner.hide();


                    });
                });

            });
    {{/js}}
{{/element.frozen}}