<div>
    <span class="ogte-panel-instructions">{{#str}}articlegenerator_instructions, mod_ogte{{/str}}</span><br/>
    <input type="text" id="{{uniqid}}_ag_prompt" class="ogte-wide" placeholder="{{#str}}article-topic-here, mod_ogte{{/str}}"></textarea>
    <div id="{{uniqid}}_ag_message" class="ogte-wide" style="text-align: center"></div>
    <button id="{{uniqid}}_ag_button" type="button" class="ogte-wide">{{#str}}generate-article, mod_ogte{{/str}}</button>
    <div><textarea id="the_ag_article" class="ogte-wide" style="overflow: auto; resize: auto; height: 150px; display: none"></textarea><br></div>
    <div id="{{uniqid}}_ag_articlestats" style="display: none" class="mod-ogte-stats ogte-wide"></div>

    <!-- actions -->
    <div id="ogte_generator_actions" class="mod-ogte-passage-opts" style="display: none">
        <div class="ogte-spacer"></div>
        <div class="ogte_article_action_button ogte_article_download_button">
            <a class="btn btn-secondary ogte_downloadbutton" data-download-filename="#{{uniqid}}_ag_prompt" data-download-target="#the_ag_article"></a>
        </div>
        <div class="ogte_article_action_button ogte_article_copy_button">
            <a class="btn btn-secondary ogte_clipboardbutton" data-clipboard-action="copy" data-clipboard-target="#the_ag_article"></a>
            <span class="ogte_copied" style="display: none">{{#str}}copied, mod_ogte{{/str}}</span>
        </div>
    </div>
    <div class="ogte_sendtoeditor_button text-center" id="ogte_ag_sendtoeditor_button" data-send-target="#the_ag_article" style="display: none">
        <a class="btn btn-secondary ogte_ar_sendtoeditor_button">{{#str}}send-to-editor, mod_ogte{{/str}}</a>
    </div>


</div>
{{^element.frozen}}
    {{#js}}
        // <script>
            require(['jquery','core/templates','core/notification','mod_ogte/utils'], function($,templates,notification, utils) {

                var promptbox= $('#{{uniqid}}_ag_prompt');
                var articlebox= $('#the_ag_article');
                var articlestats= $('#{{uniqid}}_ag_articlestats');
                var articleactions= $('#ogte_generator_actions');
                var sendtoeditor= $('#ogte_ag_sendtoeditor_button');
                var themessage= $('#{{uniqid}}_ag_message');

                utils.setCloudPoodllToken('{{cloudpoodlltoken}}');

                $('#{{uniqid}}_ag_button').on('click',function(){
                    //show a spinner
                    themessage.html('<i class="fa fa-spinner fa-spin fa-sm"></i>');


                    var theprompt = promptbox.val();
                    //no super long readings or empty ones
                    if(!theprompt || theprompt.trim()==='') {
                        themessage.text('{{#str}}entersomething, mod_ogte{{/str}}');
                        return;
                    }
                    if(theprompt.length > 200){
                        themessage.text('{{#str}}text-too-long-200, mod_ogte{{/str}}');
                        return;
                    }
                    var language = 'en-US';
                    utils.call_ai(theprompt,language,'','generate_article',function(thearticle){
                        themessage.text('');
                        articlebox.val(thearticle);
                        articlebox.show();
                        articleactions.show();
                        sendtoeditor.show();

                        var textStatsData = utils.analyzeText(thearticle);
                        templates.render('mod_ogte/textstatstable', textStatsData).done(function(html, js) {
                            articlestats.fadeOut("fast", function() {
                                templates.replaceNodeContents(articlestats, html, js);
                                articlestats.fadeIn("fast");
                            }.bind(this));

                        }.bind(this)).fail(notification.exception);

                    });
                });
            });
    {{/js}}
{{/element.frozen}}
