<div>
    <div id="{{uniqid}}_al_levelstats" style="width: 80%; max-width: 800px; border: 1px black solid; padding: 2px; display: none" class="mod-ogte-stats"></div>
    <div contentEditable="true" id="{{uniqid}}_al_passage" style=" height: auto; min-height: 150px; width: 80%; max-width: 800px; border: 1px black solid; padding: 2px;">{{passage}}</div>
    <div id="{{uniqid}}_al_articlestats" style="width: 80%; max-width: 800px; border: 1px black solid; padding: 2px; display: none" class="mod-ogte-stats"></div>
    <br/><br/>
    <button id="{{uniqid}}_addtoignore" type="button" style="width: 80%; max-width: 800px">{{#str}}add-to-ignore, mod_ogte{{/str}}</button><br/>
    <input id="{{uniqid}}_ignorelist" type="text" style="width: 80%; max-width: 800px" placeholder="{{#str}}ignore-list, mod_ogte{{/str}}"/>
    <br/><br/>
    {{#str}}select-list-level, mod_ogte{{/str}}<br/>
    <select id="{{uniqid}}_listlevel" name="listlevel">
        {{#listlevels}}
            <option value="{{key}}">{{label}}</option>
        {{/listlevels}}
    </select>
    <br/><br/>
    <div id="{{uniqid}}_al_message" style="width: 80%; max-width: 800px; text-align: center"></div>
    <br/><br/>
    <button id="{{uniqid}}_al_button" type="button" style="width: 80%; max-width: 800px">{{#str}}level-article, mod_ogte{{/str}}</button>
    <br/><br/>

</div>

{{^element.frozen}}
    {{#js}}
        // <script>
            require(['jquery', 'core/log','mod_ogte/utils'], function($, log, utils) {

                var hiddenTextBox = $("input[name='text']");
                var hiddenTitleBox = $("input[name='title']");
                var hiddenJSONRatingBox = $("input[name='jsonrating']");
                var passagebox= $('#{{uniqid}}_al_passage');
                var levelstats= $('#{{uniqid}}_al_levelstats');
                var articlestats= $('#{{uniqid}}_al_articlestats');
                var themessage= $('#{{uniqid}}_al_message');
                var thebutton= $('#{{uniqid}}_al_button');
                var listlevel_select= $('#{{uniqid}}_listlevel');
                var addtoIgnoreButton = $('#{{uniqid}}_addtoignore');
                var ignorelist = $('#{{uniqid}}_ignorelist');

                var updateAllFromJSONRating = function(jsonrating){
                    var theresponse = JSON.parse(jsonrating);
                    themessage.text('');
                    passagebox.html(theresponse.passage);

                    //add stats to original
                    var articleStatsTable = utils.analyzeText(theresponse.passage);
                    articlestats.html(articleStatsTable );
                    articlestats.show();

                    var levelStatsTable = utils.levelStats(theresponse);
                    levelstats.html(levelStatsTable );
                    levelstats.show();
                };

                var isJSON=function (str) {
                    try {
                        JSON.parse(str);
                        return true;
                    } catch (e) {
                        return false;
                    }
                };

                addtoIgnoreButton.on('click',function(e){
                    var word = utils.getSelectedWord();
                    if(word!==''){
                        var newignorelist = ignorelist.val() + ' ' + word;
                        ignorelist.val(newignorelist);
                    }

                });



                //prevent the editable div from creating more divs on copy and paste
                passagebox.on('paste', function (e) {
                    e.preventDefault();
                    var text = (e.originalEvent || e).clipboardData.getData('text/plain');
                    // Insert plain text without additional divs
                    $(this).text(text);
                    //also update our hidden text box
                    hiddenTextBox.val($(this).text());
                });

                //Add the text to the hidden text box used to submit the form when text is edited
                passagebox.on('input', function (e) {
                    thetext = $(this)[0].innerText;
                    hiddenTextBox.val(thetext);
                });


                thebutton.on('click',function(){
                    //show a spinner
                    themessage.html('<i class="fa fa-spinner fa-spin fa-sm"></i>');

                    //get text and clean it up
                    //TO DO there will be more cleaning to do.
                    var thepassage = passagebox[0].innerText;

                    //no super long readings or empty ones
                    if(!thepassage || thepassage.trim()==='') {
                        themessage.text('{{#str}}enter-something, mod_ogte{{/str}}');
                        return;
                    }
                    if(thepassage.length > 5000){
                        themessage.text('{{#str}}text-too-long-5000, mod_ogte{{/str}}');
                        return;
                    }
                    var language = 'en-US';

                    var ignore = ignorelist.val();
                    var listleveldata = listlevel_select.val();
                    var listid = listleveldata.split('_')[0];
                    var listlevel = listleveldata.split('_')[1];
                    var ogteid={{ogteid}};
                    utils.levelPassage(thepassage,ignore,listid,listlevel,ogteid).then(function(ajaxresult) {
                        var theresponse = JSON.parse(ajaxresult);
                        if (theresponse) {
                            hiddenJSONRatingBox.val(ajaxresult);
                            updateAllFromJSONRating(theresponse);
                        } else {
                            log.debug('ajax call to level coverage failed');
                        }
                    });//end of level passage
                });//end of click

                //Do initialization
                var jsonrating = hiddenJSONRatingBox.val();
                if(isJSON(jsonrating)){
                    updateAllFromJSONRating(jsonrating);
                }

            });
    {{/js}}
{{/element.frozen}}
