<div class="ogte-block-uncovered">
    <div class="ogte-block-title">
        <span>{{title}}</span>
    </div>
    <div class="ogte-block-uncovered-head">
        <table cellspacing="0" cellpadding="0" width="100%" class="outof_table">
            <thead>
            <tr>
                <th>{{#str}}word, mod_ogte{{/str}}</th>
                {{#haslevels}}
                    <th>{{#str}}level, mod_ogte{{/str}}</th>
                {{/haslevels}}
                <th>{{#str}}frequency, mod_ogte{{/str}}</th>
            </tr>
            </thead>
            <tbody class="ogte-block-uncovered-row">
            {{#words}}
            <tr>
                <td>{{word}}</td>
                {{#haslevels}}<td>{{level}}</td>{{/haslevels}}
                <td>{{frequency}}</td>
            </tr>
            {{/words}}
            </tbody>
        </table>
    </div>
</div>