<div class="ogte-block-uncovered">
    <div class="ogte-block-title d-flex justify-content-between align-items-center">
        <span>{{title}}</span>
        {{#istoggleblock}}
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="ogte-ignore-toggle">
            <label class="custom-control-label" for="ogte-ignore-toggle"></label>
        </div>
        {{/istoggleblock}}
    </div>
    <div class="ogte-block-uncovered-head">
        <table cellspacing="0" cellpadding="0" width="100%" class="outof_table">
            <thead>
            <tr>
                {{#hascheckboxes}}<th class="ogte-ignore-cell" style="width: 30px;">{{#str}}ignore, mod_ogte{{/str}}</th>{{/hascheckboxes}}
                <th>{{#str}}word, mod_ogte{{/str}}</th>
                {{#haslevels}}
                    <th>{{#str}}level, mod_ogte{{/str}}</th>
                {{/haslevels}}
                <th>{{#str}}frequency, mod_ogte{{/str}}</th>
            </tr>
            </thead>
            <tbody class="ogte-block-uncovered-row">
            {{#haswords}}
            {{#words}}
            <tr>
                {{#hascheckboxes}}<td class="ogte-ignore-cell"><input type="checkbox" class="ogte-ignore-checkbox" value="{{word}}" {{#checked}}checked{{/checked}}></td>{{/hascheckboxes}}
                <td>{{word}}</td>
                {{#haslevels}}<td>{{level}}</td>{{/haslevels}}
                <td>{{frequency}}</td>
            </tr>
            {{/words}}
            {{/haswords}}
            {{^haswords}}
            <tr>
                <td colspan="{{#haslevels}}3{{/haslevels}}{{^haslevels}}2{{/haslevels}}">{{#str}}no_words, mod_ogte{{/str}}</td>
            </tr>
            {{/haswords}}
            </tbody>
        </table>
    </div>
</div>