<div class="ogte-block-uncovered" style="height: 279px;">
    <div class="ogte-block-title">
        <span>{{title}}</span>
    </div>
    <div class="ogte-block-uncovered-head">
        <table cellspacing="0" cellpadding="0" width="100%" class="outof_table">
            <thead>
            <tr>
                <th>{{#str}}level, mod_ogte{{/str}}</th>
                <th>{{#str}}frequency, mod_ogte{{/str}}</th>
            </tr>
            </thead>
            <tbody class="ogte-block-uncovered-row">
            {{#haslevels}}
            {{#levels}}
            <tr>
                <td>{{level}}</td>
                <td>{{frequency}}%</td>
            </tr>
            {{/levels}}
            {{/haslevels}}
            {{^haslevels}}
            <tr>
                <td colspan="2">{{#str}}no_out_of_levels, mod_ogte{{/str}}</td>
            </tr>
            {{/haslevels}}
            </tbody>
        </table>
    </div>
</div>