<table id="ogte_passages_id" class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">{{#str}}title, mod_ogte{{/str}}</th>
        <th scope="col">{{#str}}excerpt, mod_ogte{{/str}}</th>
        <th scope="col">{{#str}}list, mod_ogte{{/str}}</th>
        <th scope="col">{{#str}}actions, mod_ogte{{/str}}</th>
    </tr>
    {{#entries}}
    <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{#shortentext}} 20, {{{text}}} {{/shortentext}}</td>
        <td>{{{listinfo}}}</td>
        <td style="display: flex">
            <a class="mod_ogte_entryaction" href="{{{editurl}}}" alt="{{#str}}viewentry, mod_ogte{{/str}}"><div class="ogte-action-icon">{{#pix}}i/edit{{/pix}}</div></a>
            <a class="mod_ogte_entryaction" href="{{{deleteurl}}}" alt="{{#str}}deleteentry, mod_ogte{{/str}}"><div class="ogte-action-icon">{{#pix}}i/delete{{/pix}}</div></a>
            <a class="mod_ogte_entryaction" href="{{{downloadurlpdf}}}" alt="{{#str}}downloadentrypdf, mod_ogte{{/str}}"><div class="ogte-action-icon">{{#pix}}t/down{{/pix}}<br><span class="ogte-smalltext">pdf</span></div></a>
            <a class="mod_ogte_entryaction" href="{{{downloadurltxt}}}" alt="{{#str}}downloadentrytxt, mod_ogte{{/str}}"><div class="ogte-action-icon">{{#pix}}t/down{{/pix}}<br><span class="ogte-smalltext">txt</span></div></a>
        </td>
    </tr>
    {{/entries}}
</table>