<table>
    <tr>
        <td colspan="7" class="ogte_listleveltitle">
            {{listname}} - {{levelname}}
        </td>
    </tr>
    <tr>
        <td><span class="ogte_stats_td_hd">{{#str}}totalwords, mod_ogte{{/str}}</span>{{wordcount}}</td>
        <td><span class="ogte_stats_td_hd">{{#str}}inlevel, mod_ogte{{/str}}</span><div>
            {{inlevel}} <span class="ogte_stats_td_sub">({{inlevel_percent}}%)</span></div></td>
        <td><span class="ogte_stats_td_hd mod_ogte_outoflevel">{{#str}}outoflevel, mod_ogte{{/str}}</span>
            <div>{{outoflevel}} <span class="ogte_stats_td_sub">({{outoflevel_percent}}%)</span></div></td>
        <td class="mod_ogte_outoflist"><span class="ogte_stats_td_hd mod_ogte_outoflist">{{#str}}outoflist, mod_ogte{{/str}}</span>
            <div>{{outoflist}} <span class="ogte_stats_td_sub">({{outoflist_percent}}%)</span></div></td>
        <td class="mod_ogte_propernouns"><span class="ogte_stats_td_hd mod_ogte_propernouns">{{#str}}propernouns, mod_ogte{{/str}}</span>
            <div>{{propernouns}} <span class="ogte_stats_td_sub">({{propernouns_percent}}%)</span></div></td>
        <td class="mod_ogte_ignored"><span class="ogte_stats_td_hd mod_ogte_ignored">{{#str}}ignored, mod_ogte{{/str}}</span>
            <div>{{ignored}} <span class="ogte_stats_td_sub">({{ignored_percent}}%)</span></div></td>
        <td><span class="ogte_stats_td_hd">{{#str}}coverage, mod_ogte{{/str}}</span>
            {{coverage}}%</td>
    </tr>
</table>
