<div class="mod_ogte_actionignorelabel">{{theword}}</div>
<div class="custom-control custom-switch">
    <input class="custom-control-input" type="checkbox" id="mod_ogte_actionignoreswitch" {{#ignoring}}checked{{/ignoring}} />
    <label class="custom-control-label" for="mod_ogte_actionignoreswitch">{{#str}} addtoignore,mod_ogte{{/str}}</label>
</div>