<div class="container">
    <h3 class="ogte-section-title">{{#str}}sitefaq, mod_ogte{{/str}}</h3>
    <span class="ogte-panel-instructions">{{#str}}sitefaq_instructions, mod_ogte{{/str}}</span><br/>
    <div class="container">
        {{{sitefaq}}}
    </div>
</div>
