
<ul class="nav nav-pills mod_ogte_nav-pills ">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#articleleveler">{{#str}}articleleveler, mod_ogte{{/str}}</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#articlegenerator">{{#str}}articlegenerator, mod_ogte{{/str}}</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#articlerewriter">{{#str}}articlerewriter, mod_ogte{{/str}}</a></li>
    <!--
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#articlechecker">{{#str}}articlechecker, mod_ogte{{/str}}</a></li>
    -->

</ul>
<div class="tab-content mod_ogte_tab-content">
    <div id="articleleveler" class="tab-pane active">
        {{> mod_ogte/articleleveler}}
    </div>
    <div id="articlegenerator" class="tab-pane">
        {{> mod_ogte/articlegenerator}}
    </div>
    <div id="articlerewriter" class="tab-pane">
        {{> mod_ogte/articlerewriter}}
    </div>
</div>