<table>
    <tr>
        <td><span class="ogte_stats_td_hd">{{#str}}characters, mod_ogte{{/str}}</span><br>{{charCount}}</td>
        <td><span class="ogte_stats_td_hd">{{#str}}words, mod_ogte{{/str}}</span><br>{{wordCount}}</td>
        <td><span class="ogte_stats_td_hd">{{#str}}averagewordlength, mod_ogte{{/str}}</span><br>{{avWordLength}}</td>
        <td><span class="ogte_stats_td_hd">{{#str}}sentences, mod_ogte{{/str}}</span><br>{{sentenceCount}}</td>
        <td><span class="ogte_stats_td_hd">{{#str}}averagesentencelength, mod_ogte{{/str}}</span><br>{{avSentenceLength}}</td>
    </tr>
</table>