<table>
    <tr>
        <td><span class="ogte_stats_td_hd">{{#str}}characters, mod_ogte{{/str}}</span>{{charCount}}</td>
        <td><span class="ogte_stats_td_hd">{{#str}}words, mod_ogte{{/str}}</span>{{wordCount}}</td>
        <td><span class="ogte_stats_td_hd">{{#str}}averagewordlength, mod_ogte{{/str}}</span>{{avWordLength}}</td>
        <td><span class="ogte_stats_td_hd">{{#str}}sentences, mod_ogte{{/str}}</span>{{sentenceCount}}</td>
        <td><span class="ogte_stats_td_hd">{{#str}}averagesentencelength, mod_ogte{{/str}}</span>{{avSentenceLength}}</td>
    </tr>
</table>