<!-- Top Panel - Admin/Teacher user -->
<div class="ogte-view-panel ogte-admintop" id="ogte-admintop">
    {{#haveentries}}
        {{{addnewbutton}}}
        {{> mod_ogte/entriestable}}
        <a href="{{{downloadallurlpdf}}}" class="btn btn-secondary">{{#str}}downloadallpdf, mod_ogte{{/str}}</a>
        <a href="{{{downloadallurltxt}}}" class="btn btn-secondary">{{#str}}downloadalltxt, mod_ogte{{/str}}</a>
    {{/haveentries}}
    {{^haveentries}}
        <div class="mod_ogte_noentries">{{#str}}noentries, mod_ogte{{/str}}</div>
        {{{addnewbutton}}}
    {{/haveentries}}
    {{#backtolistsbutton}}
        <br>
        <hr>
        {{{backtolistsbutton}}}
    {{/backtolistsbutton}}
</div>